<div class='video-listing'>
  <div class='video-name'>
    <%= link_to video.name, video %>
  </div>

  <div class='video-description'>
    <%= video.description %>
  </div>

  <div class='video-thumbnail'>
    <%= link_to image_tag(youtube_thumbnail(video), width: '100'), video %>
  </div>
</div>
