<div id='search-results'>
  <h1>Results for: "<%= @query %>"</h1>
  <div id='description-results'>
    <h3>Description Results</h3>
    <%= render @search.descriptions %>
  </div>
  <div id='name-results'>
    <h3>Name Results</h3>
    <%= render @search.names %>
  </div>
  <div id='tag-results'>
    <h3>Tag Results</h3>
    <%= render @search.tags %>
  </div>
</div>
