<div id='landing-page'>
  <div id='heading'>
    <%= image_tag('cocktail.png') %>
    Do It That Way!
    <p>
      The site that shows you quick videos on how to
      do common things that you think you may already do correctly.
    </p>

    <p>
      <%= link_to 'Click here to start learning!', 'http://doitthatway.com/random_video' %>
    </p>
  </div>
</div>
