/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url(http://fonts.googleapis.com/css?family=Dosis:400,700);

// $visual-grid: true;

@import 'modal';
@import 'bourbon';
@import 'bitters/bitters';
@import 'neat';
@import 'header';
@import 'submit_video';
@import 'categories_bar';
@import 'main_section';
@import 'user';
@import 'comments_section';
@import 'footer';

* {margin:0;padding:0;}

html, body {
  @include clearfix;
  font-family: 'Roboto', sans-serif;
}

@-webkit-keyframes pulse_animation {
    0% { color: rgba(red, 1); }
    30% { color: rgba(red, 0.8); }
    40% { color: rgba(red, 0.6); }
    50% { color: rgba(red, 0.5); }
    60% { color: rgba(red, 0.6); }
    70% { color: rgba(red, 0.7); }
    80% { color: rgba(red, 0.8); }
    100% { color: rgba(red, 0.9); }
}

.pulse a {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 1500ms;
  -webkit-transform-origin: 70% 70%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
